
html{
    scroll-behavior: smooth;
}
body{
    margin: 0% !important;
    padding: 0% !important;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
    overflow-x: hidden;
} 
#postion-nav{
    transition: top 2.0s;
    text-align: center;
}
.w-100{
    height:100vh !important;

}
#mydiv{
    display: none;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;

    
  }
  #mydiv a{
      color: #6f6f6f;
  }
  #mydiv ul{

list-style: none;
}


  #navbar{
      margin-right: 35%;
      font-size: 18px;
      font-weight: 600;
     
  }
 @media only screen and (max-width:750px){
    
 #navbar{
  

    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: bold;


} 
#icon-div{
    background-color: rgba(0, 0, 0, 0.1);
    padding-bottom: 5%;
    text-align: center;
    width: 100%;
}

} 


@media only screen and (max-width:750px){
    #navbar{

        color: #6f6f6f !important ;
        width: 100%;
    
        
    }

}


@media only screen and (max-width:850px){
    .navbar-icon{
     margin: 0px;
    
    }

}



#icon-like2:hover{
    color: gray;

}
 #navbarid{
    margin-left: 7%;
    font-size: 17px;
    
 }
    

#Product-Button{
    background-color: white;
}
#Product-Button:hover{
    background-color: #717fe0;
}




 #Quik-Veiw-Button{

    background-color: #e6e6e6;
    font-size: 17px;
    width: ;
 }

#Quik-Veiw-Button:hover{ 
 
    background: black;
    color:#e6e6e6 ;
}
/* @media only screen and (max-width:400px){

    img{
        height: 500px !important;
       
    }
} */
#Top-Gallery:hover{
    background-color: #717fe0 !important;
    z-index: -1;
    color: white;


}
#Top-Gallery-title{
    position: relative;
    bottom: 65%;
    right: 22%;
}

/* #Top-Gallery-title:hover
{
    color: white;
} */


/* #Top-Gallery-title h6{
    color: #6f6f6f;
} */
#text-color:hover{ 
    color: white !important;

}


/* Container needed to position the overlay. Adjust the width as needed */

  
  /* Make the image to responsive */
  
  
  /* The overlay effect - lays on top of the container and over the image */
  
#overlay {
    position: absolute;
    bottom: 20%;
    left: 20%;

  
    color: #f1f1f1;
    width: 60%;
    transition: .5s ease;
    opacity:0;

    padding: 20px;

  }
  #icon-like{
     float:right;
    
  }
  #icon-like:hover{
  color: red;
 }
  
  /* When you mouse over the container, fade in the overlay title */
  #container:hover #overlay {
    opacity: 1;
  }
  #Product-Images:hover{
      transform: scale(1.1);
      transition: 0.8s ease;
  }
  .check{
      overflow: hidden;
  }



#Slides-Text-Section{
  color: #222222;

  position: absolute;
  bottom:300px; 
 left: 20px;


width: 100%;
transition: top 5.0s;
} 

.Slides-Title{
    color: #222222;
   
 

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Slides-Para{
    color: #222222;
   
    font-size: 65px;
font-family: serif;
font-weight: bolder;
text-transform: uppercase;
}
.Slides-Button{
    color: #222222;
   

    font: bolder;
    font-size: 30px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media only screen and (max-width:767px){
    #Slides-Text-Section{

        bottom:180px; 
      
    }

    #SUBSCRIBE-btn{
        font-size: 15px;
        height: 19px auto;
        
    }
    .Slides-Title{
     font-size: 20px;
    }
    .Slides-Para{
        color: gray;
       
        font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}































.title-Gallery{
    color: #c5c5c5;
    margin-top:6% ;
}
.Rs-Gallery{
    color: #6f6f6f;
    margin-bottom: 12%;
}







#load-more-button{
    margin-bottom: 10%;
    margin-top: 7%;
    background-color: #e6e6e6;
    width: 14% auto;
}
#load-more-button:hover{
    background: black;
    color:#e6e6e6 ;
}

/* 
footer-Section code Start */

#footer{
    background-color: #222222;
}
#bank-cards {

    text-decoration: none;
    margin: 0.2%;

}
#SUBSCRIBE-btn{

  background-color: #717fe0;
    width: 60% auto;

}
#SUBSCRIBE-btn:hover{
    background-color: white;
    color: #717fe0;
    
}
h4{
    color: white;
    padding-bottom: 10%;
}
/* 
footer-Section code End */



#container2 {
    position: relative;

  }
  
  #image2 {
    display: block;

  }
  
  .overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0%;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;

  }
  
  #container2:hover .overlay2 {
    opacity: 0.5;
    

  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
   
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #shop-now-button{
      position: absolute;
      top: 58%;
      right: 60%;
      background-color: #e6e6e6;
      font-size: 17px;
      width: 0% auto;
  }
  #shop-now-button:hover{
    background: black;
    color:#e6e6e6 ;
  }
 